In [64]:
import pandas as pd
import numpy as np

In [77]:
# import data
df = pd.read_csv('../prepare/label-finish.csv')

In [78]:
df

                 id               text  correctness Label  Column1
0       print_1.jpg              #ี]ริ     0.237090     O      NaN
1       print_1.jpg            manpuku     0.712725     O      NaN
2       print_1.jpg            manpuku     0.746942     O      NaN
3       print_1.jpg  โทรศพท:0624344538     0.725757     O      NaN
4       print_1.jpg                 ปล     0.981482     O      NaN
...             ...                ...          ...   ...      ...
13619  print_99.jpg                  a     0.549560     O      NaN
13620  print_99.jpg       บิลนีประหยัด     0.693627     O      NaN
13621  print_99.jpg             83. 00     0.865492     O      NaN
13622  print_99.jpg        ใบเสร็จรับเ     0.226032     O      NaN
13623  print_99.jpg                ไมน     0.291070     O      NaN

[13624 rows x 5 columns]

In [79]:
df.drop(columns=['Column1'], inplace=True)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13624 entries, 0 to 13623
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           13624 non-null  object
 1   text         13609 non-null  object
 2   correctness  13624 non-null  float64
 3   Label        13624 non-null  object
dtypes: float64(1), object(3)
memory usage: 425.9+ KB

In [81]:
# chech for missing values in label column
df['Label'].isnull().sum()

0

In [82]:
# show categories in label column
df['Label'].unique()

array(['O', 'B-ITEM', 'I-ITEM', 'I-DISC', 'I-TOTAL', 'B-COST', 'B-DISC',
       'B-VAT', 'B-TOTAL', 'B-SERVC', 'I-COST', 'I-VAT'], dtype=object)

In [83]:
# where Label is Nan
df[df['Label'].isnull()]

Empty DataFrame
Columns: [id, text, correctness, Label]
Index: []

In [84]:
df[df['correctness']=='O']

Empty DataFrame
Columns: [id, text, correctness, Label]
Index: []

In [86]:
# save to csv
# df.to_csv('label-finish_new.csv', index=False)

In [87]:
# change csv to text(tab dilimited)
# df.to_csv('label-finish_utf8_new.txt', sep='\t', index=False)

In [ ]:
import spacy
from spacy.tokens import DocBin
import pickle
import re
training_data = pickle.load(open('./data/TestData.pickle', 'rb'))
testing_data = pickle.load(open('./data/TestData.pickle', 'rb'))


# save .spacy file
def save_data_to_spacy_format(data, output_file):
    """
    Saves the data in the Spacy format
    :param data: The data to be saved
    :param output_file: The output file
    """
    doc_bin = DocBin()
    for text, annot in data:
        doc = nlp.make_doc(text)
        ents = []
        for start, end, label in annot['entities']:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                print("Skipping entity")
            else:
                ents.append(span)
        doc.ents = ents
        doc_bin.add(doc)
    doc_bin.to_disk(output_file)

nlp = spacy.blank("en")
save_data_to_spacy_format(training_data, './data/train.spacy')
save_data_to_spacy_format(testing_data, './data/test.spacy')

# load data